<style>
  .btn-context {
    background-color: rgba(255, 255, 255, 0.1);
    color: #eee;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.3s;
    text-decoration:none;
  }

  .btn-context:hover {
    background-color: #542d6b;
    border-color: #80c6ff;
  }
  
  .user-info {
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--text-light);
    font-style: italic;
    font-size: 14px;
  }
</style>
<a class="btn-context" href="/admin">
  <i class="fas fa-home"></i>
  <span>Home</span>
</a>
<a class="btn-context" href="/agent-sol">
  <i class="fa-solid fa-robot"></i>
  <span>Agent Solution</span>
</a>
<a class="btn-context" href="/context">
  <i class="fas fa-cog"></i>
  <span>Context</span>
</a>
<a class="btn-context" href="/session">
  <i class="fa-solid fa-user"></i>
  <span>User Interaction</span>
</a>
<a class="btn-context" href="/memory">
  <i class="fas fa-clock"></i>
  <span>Memory</span>
</a>
<a class="btn-context" href="/cost">
  <i class="fas fa-file-alt"></i>
  <span>Diagnosis</span>
</a>



<div class="user-info">
      <i class="fas fa-user-circle" style="font-size: 20px;"></i>
      <span>Administrator</span>
    </div>
  


